.body{
    margin: 0;
}

.first{
    background-image: url(https://tctechcrunch2011.files.wordpress.com/2015/10/lukethistlefbcover.png?w=738);
    background-size: cover;
    background-position: center;
    height: 700px;
    width: 100%;
    opacity: 0.9;

}

.go{
    margin-top: 50px;
    opacity: 0.5;
    margin-left: 170px;
    margin-right: 300px;
}

.logo1{
    height: 40px;
    width: 60px;
    margin-top: -10px;

}

.featured{
    background: rgba(93, 244, 254, 0.43);
    margin-left: 170px;
    border-radius: 25px;
    margin-right: 170px;
    margin-top: 100px;
    padding: 40px;
}


.text {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 5vw;
    opacity: 1;
    z-index: 999;
    text-align: center;
}

.top{
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}


/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    width: 100%;
    opacity: 0.9;
}




/* Add a gray background color and some padding to the footer */
footer {
    background-color: #f2f2f2;
    padding: 25px;
}

.words{
    font-size:30px;
    vertical-align: middle;
}

.carousel-inner img {
    width: 100%;
    margin: auto;
    min-height:200px;
}

.carousel-caption {
    max-width: 550px;
    padding: 0 20px;
    margin:0 auto;
    margin-top: 200px;
    text-align:center;
    color: #0f0f0f;
}



/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
    .carousel-caption {
        display: none;
    }
}

.video{
    margin-top: -10px;
    position: relative;
    padding-bottom:56.25%;
    padding-top:1px;
    height:0;
    overflow:hidden;

}
.video iframe, .video object, .video embed{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.text.smaller{
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 41px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.container.text-center .steps{
    font-size: 28px;
    color: #5DF4FE;
    font-family: 'Ubuntu', sans-serif;
}